html,
body,
button,
p {
	margin: 0;
	padding: 0;

	font-family: Noto Sans KR, sans-serif;
}

html,
body {
	color: var(--black);
	background: #F5F6F8;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: white;
	--gray-light: #EBEBEB;
	--primary: #7643FC;
	--primary-hover: #6C34FA;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: noto sans kr, sans-serif;
}
